body {
    background-color: #85756E;
    margin: 0;
    font-family: sans-serif;
}

#spacer {
    height: 10px;
}

#title {
    text-align: center;
    margin: 3px 300px;
}

h2 {
    margin: 10px auto;
}

#mode-wrapper {
    position: relative;
    float: right;
    margin: 180px 125px;
    font-size: 2em;
}

input[type="radio"] {
    transform: scale(1.5);
}

#start {
    width: 150px;
    height: 75px;
    background-color: #551B14;
    font-size: 1.5em;
    margin: 20px 25px;
    border-radius: 4px;
}

.nl-mode-wrapper {
    width: 550px;
    height: 550px;
    margin: 80px 100px;
    transform: rotate(45deg);
}

.nl-simon-boxes {
    display: inline-block;
    width: 250px;
    height: 250px;
}

#round-title {
    position: relative;
    float: left;
    font-size: 1.5em;
    margin-left: 5.2em;
}

#nl-simon-counter {
    width: 75px;
    height: 50px;
    background-color: #551B14;
    margin-right: 0;
    margin-left: 7.7em;
    border-radius: 4px;
}

#triangle {
    position: absolute;
    float: left;
    width: 100px;
    height: 100px;
    margin: 20px 20px;
    transform: rotate(-45deg);
}

#nl-simon-yellow {
    background: yellow;
    border-top-left-radius: 7em;
    border-bottom-left-radius: 8px;
}
#circle {
    position: absolute;
    float: left;
    width: 100px;
    height: 100px;
    margin: 30px 130px;
    transform: rotate(-45deg);
}

#nl-simon-blue {
    background: blue;
    border-top-right-radius: 7em;
    border-bottom-right-radius: 8px;
}
#square {
    position: absolute;
    float: left;
    width: 100px;
    height: 100px;
    margin: 120px 30px;
    transform: rotate(-45deg);
}

#nl-simon-red {
    background: red;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 7em;
}

#cross {
    position: absolute;
    float: left;
    width: 100px;
    height: 100px;
    margin: 115px 115px;
    transform: rotate(-45deg);
}

#nl-simon-green {
    background: green;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 7em;
}
